[submodule "themes/hugo-shortcode-gallery"]
	path = themes/hugo-shortcode-gallery
	url = git@github.com:mfg92/hugo-shortcode-gallery.git

[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
